<div id=landingDialogBox>
    <div class="quote">
        <img src="/assets/icon/containers.png" alt="Container icons created by vectorsmarket15 - Flaticon" width="40"
            height="40" class="mx-2" />
        <h2>{{randomQuote}}</h2>
    </div>
    <div class="repository">
    <h4 style="text-align:center;">Repository: <a href="https://github.com/SageSG/deployment-app" target="_blank"
            rel="noopener noreferrer">https://github.com/SageSG/deployment-app</a> 
    </h4>
</div>
</div>